@model List<Product>
<h2>Ürünler</h2>

<table>	
	<thead>
		<tr>
			<th>Ürün Adı</th>
			<th>Fiyat</th>
			<th>Stok</th>
			<th>Sepete Ekle</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@product.Name</td>
				<td>@product.Price</td>
				<td>@product.Stock</td>
				<td><a href="@Url.Action("AddToCart","Cart",new{productId = product.Id})">Sepete Ekle</a></td>

			</tr>
		}
	</tbody>
</table>